.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
}

.column-left {
    width: 30%;
}

.column-right {
    width: 70%;
}

.card-icon {
    margin-left: 15px;
    font-size: 40px;
    color: white;
}

.large-info {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    color: white;
    text-align: end;
}

.small-info {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 25px;
    text-align: end;
}

.card-red {
    background-color: #1B4159;
}

.card-blue {
    background-color: #1B4159;
}

.card-green {
    background-color: #1B4159;
}

.card-yellow {
    background-color: #1B4159;
}

@media (max-width: 768px) {
    .card {
       width: 100%; 
    }

    .large-info {
        font-size: 25px;
        font-weight: bold;
        margin-left: 20px;
        color: white;
        text-align: end;
        width: 80px;
    }
    
    .small-info-3 {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        text-align: end;
    }

    .card-icon {
        font-size: 40px; 
        color: white;
    }
}

#section-graph{

    padding-top: 50px;

}
