@media only screen and(max-width: 600px){

  *{
    display: none;
    
     }

}



nav {
  position: fixed; 
  width: 100%; 
  z-index: 1000;
  background-color: #E3E3E3;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler-icon {
  width: 30px; /* largura desejada */
  height: 3px; /* altura desejada */
  background-color: #2491A7; /* cor das linhas */
  border-radius: 2px; /* bordas arredondadas */
  display: block;
  position: relative;
}

/* Adicionando as outras duas linhas */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  background-color: #2491A7; /* cor das linhas */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 2px; /* bordas arredondadas */
}

/* Posicionamento das outras linhas */
.navbar-toggler-icon::before {
  top: -8px; /* posição vertical */
}

.navbar-toggler-icon::after {
  bottom: -8px; /* posição vertical */
}


.background {
  content: '';
  background: #54BCE1;
  background: -moz-linear-gradient(top, #4394f4 0%, #54BCE1 100%);
  background: -webkit-linear-gradient(top, #4394f4 0%, #54BCE1 100%);
  background: linear-gradient(to bottom, #4394f4 0%, #54BCE1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60a9ff', endColorstr='#4394f4', GradientType=0);
  height: 350px;
  left: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 1;
}

#text-home {
  color: #fff;
  text-align: left;
  position: relative;
  z-index: 2;
  width: 100%;
}


  /* #titulo{

    font-size: 30px;
    max-width: 80% ;
    text-align: right;
    
  
  }
  
  #subtitulo{
  
    font-size: 15px;
    text-align: right;
    max-width: 80%;
  
  } */








.botão {
  background-color: #EB8A28;
  color: #fff;
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: pulse 2s infinite; 
  margin-top: 40px;

  

  
}

.botão:hover {
  background-color: #FFA94D;
  animation: none; 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.hero {
  background-color: #E3E3E3;
  padding: 50px 0;
  text-align: center;
  margin-top: 45dvh;
  
}


.checklist {
  list-style-type: none; /* Remove os pontos padrão da lista */
  padding-left: 0; /* Remove o recuo padrão da lista */
}

.checklist li {
  margin-bottom: 10px; /* Adiciona um espaçamento entre os itens */
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  padding: 40px;
  background-color: #87CDE8;
  color: #fff;
}


.card h3 {
  font-size: 20px;
    margin-bottom: 30px;
}

.card p {
  font-size: 16px;
  margin-bottom: 30px;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #5EB6E4;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

