/* Adicione estas regras CSS para estilizar as formas geométricas com cores de fundo */
.shapes-section {
  background-color: #f9f9f9; /* Cor de fundo da seção */
  padding: 50px 0; /* Espaçamento interno da seção */
}

.shape-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento inferior entre as formas geométricas */
}

.shape {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.shape::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db; /* Cor de fundo da forma geométrica */
  z-index: -1;
  transform: skewX(-10deg); /* Inclinação para criar a forma geométrica */
}

.shape::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db; /* Cor de fundo da forma geométrica */
  z-index: -1;
  transform: skewX(10deg); /* Inclinação para criar a forma geométrica */
}

.shape-img {
  width: 150px; /* Largura da imagem */
  height: auto; /* Altura automática */
  margin-right: 20px; /* Espaçamento à direita da imagem */
}

.shape-text h3 {
  margin-bottom: 10px; /* Espaçamento inferior para o título */
}

.shape-text p {
  margin-bottom: 0; /* Remover espaço extra abaixo do subtítulo */
}

/* Adicione estas regras CSS para estilizar a seção de planos de serviço */
.hero {
  background-color: #f1f1f1; /* Cor de fundo da seção de planos de serviço */
  padding: 50px 0; /* Espaçamento interno da seção */
  text-align: center;
}

.card {
  background-color: #fff; /* Cor de fundo dos cards */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: calc(33.333% - 40px);
}

/* Adicione estas regras CSS para estilizar o rodapé */
footer {
  background-color: #3498db; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 20px 0; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto do rodapé */
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

/* Estilo geral */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #3498db;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 100px; /* ajuste conforme necessário */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
