body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
 
}

.container-1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.container-2 {
  width: 80%;
  margin: 0 auto;
  color: #87CDE8;

 
}

.container-2 h2{

margin-bottom: 50px;
font-size: 50px;

}

.container-3 {
  width: 80%;
  margin: 0 auto;
}

.container h2 {
  margin-bottom: 40px;
}

nav {
  background-color: #E3E3E3;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  background-color: #E3E3E3;
  padding: 50px 0;
  text-align: center;
  
}

#titulo{

  margin-top: 50px;
  color: #fff;


}

@media only screen and (max-width: 768px) {
  #titulo {
    margin-left: 45px;
  }

  .background{

    height: 500px;

  }

  .container-2{

    margin-top: 40px ;

  }
}

.checklist {
  list-style-type: none; /* Remove os pontos padrão da lista */
  padding-left: 0; /* Remove o recuo padrão da lista */
}

.checklist li {
  margin-bottom: 10px; /* Adiciona um espaçamento entre os itens */
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  padding: 40px;
  background-color: #87CDE8;
  color: #fff;
}


.card h3 {
  font-size: 20px;
    margin-bottom: 30px;
}

.card p {
  font-size: 16px;
  margin-bottom: 30px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #5EB6E4;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.button {
  background-color: #EB8A28;
  color: #fff;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: pulse 2s infinite; 
}


.button:hover {
  background-color: #FFA94D;
  animation: none; 
}

.background {
  width: 100%;
  background-color: #5EB6E4;
  color: #fff;
  position: relative;
 

}







