@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Poppins&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@100;200&family=Poppins&family=Roboto+Slab:wght@100&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 25px;
    text-align: right;
}

header a {
    color: #54BCE1;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 100px;
}

.login-card {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: #54BCE1;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    z-index: 2;
    margin-right: 20dvh;
    height: 60dvh;
    width: 50dvh;
}

.login-card p {
    margin-bottom: 0px;
}

.img-fundo {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.img-fundo img {
    height: 92%;
    width: 100%;
}

.img-overlay {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 96.7%;
    background-color: rgba(84, 188, 225, 0.4);
    z-index: 1;
}

#email_label {
    font-family: sans-serif;
    font-size: 15px;
    color: #54BCE1;
}

.form-control {
    border-radius: 10dvh;
    margin-top: -15;
    width: 100%;
    outline: transparent solid 2px;
    font-weight: 400;
    border: 1px solid #54BCE1;
    border-radius: 10px;
    height: 7dvh;
    font-size: 12px;
}

#remeber {
    text-align: center;
    margin-top: 15px;
}

p {
    margin-top: 30px;
}

button {
    border-radius: 50px;
    width: 100%;
    color: #3350A1;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    font-weight: 400;
    border: 1px solid #54BCE1;
    border-radius: 10px;
    height: 50px;
    font-size: 12px;
}

.logo img {
    float: left;
}

.main_footer_copy {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.main_footer_copy a {
    font-family: 'Lora';
    font-size: 2dvh;
    color: #37499D;
    height: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: black;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #e82626;
}